{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RwandAg</title>
    <link rel="shortcut icon" type="image/png" href="../static/css/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/psite.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
        <nav>
          <ul>
            <a href="/"><img src="../static/css/logo.png"></a>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#">Important Links</a>
              <ul>
                <li><a href="https://www.minagri.gov.rw/index.php?id=16" target="_blank">MINAGRI</a></li>
                <li><a href="http://www.rab.gov.rw/index.php?id=180" target="_blank">RAB</a></li>
                <li><a href="https://twitter.com/RwandaAgri" target="_blank">Updates</a></li>
                <li><a href="https://www.youtube.com/channel/UCB-oYINxgCdmyEnPi-SWAZw/videos" target="_blank">Videos</a></li>
              </ul>
            </li>
            <li><a href="projects">Projects</a></li>
          </ul>
        </nav>
        <div class="top-part">
            <div class="auto-slider">
              <ul class="auto-slider_conentent">
                <li><img src="../static/css/slider1.jpg" alt="Corn 1" style="width:580px;height:360px;">
                  <h2><strong>We identify crop investment opportunities</strong></h2>
                </li>
                <li><img src="../static/css/slider2.jpg" alt="Cattle 1" style="width:580px;height:360px;">
                  <h2><strong>We identify cattle investment opportunities</strong></h2>
                </li>
                <li><img src="../static/css/slider3.jpg" alt="Dealing" style="width:580px;height:360px;">
                  <h2><strong>We evaluate and validate prospect investment opportunities operations</strong></h2>
                </li>
                <li><img src="../static/css/slider4.jpg" alt="Corn 2" style="width:580px;height:360px;">
                  <h2><strong>Ensure good quality crop yield and good returns</strong></h2>
                </li>
                <li><img src="../static/css/slider5.jpg" alt="Cattle 2" style="width:580px;height:360px;">
                  <h2><strong>Increase cattle yield like milk and good returns</strong></h2>
                </li>
              </ul>
            </div>
        </div>
        <div class="middle-part">
           <div class="icon">
              <i class="fa fa-check-square fa-4x" aria-hidden="true">
                  <div class="icon-word">
                    <h2><strong>Opportunity</strong></h2>
                      <div class="icon-description">
                          <h5>There are potential farmers with "limited access to financial resources" as their
                             only barrier to expand their operations</h5>
                      </div>
                  </div>
              </i>
            </div>
            <div class="icon">
               <i class="fa fa-external-link fa-4x" aria-hidden="true">
                   <div class="icon-word">
                     <h2><strong>RwandAg</strong></h2>
                       <div class="icon-description">
                           <h5>We connect Rwandan farmers to foreign investors who are
                             interested in Rwanda's agriculture and livestock investment
                             opportunities. <a href="../contact" target="_blank" style="color: #09090A">Contact us</a> for any question</h5>
                       </div>
                   </div>
               </i>
             </div>
             <div class="icon">
                <i class="fa fa-bar-chart fa-4x" aria-hidden="true">
                    <div class="icon-word">
                      <h2><strong>Growth</strong></h2>
                        <div class="icon-description">
                            <h5>Increasing agricultural production capacity, serving more people, and good returns to
                              the investors</h5>
                        </div>
                    </div>
                </i>
              </div>
        </div>
        <div class="numbers-part">
          <h2>Welcome! Let's do your numbers <a href="../calculation" target="_blank">CLick Me</a></h2>
        </div>
        <div class="bottom-part">
           <h2>Promoting Agricultural Investment Opportunities in Rwanda</h2>
           <div class="bottom-part-video">
             <iframe src="https://www.youtube-nocookie.com/embed/aX7li-qej1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </h2>
        </div>
        <footer>
            <div class="contact-home" id="our-contact">
              <h2>Our Mission<h2>
                <h4>Connecting Rwandan farmers to agricultural investors for sustainable Rwanda Food Security </h4>
                <div class="location">
                  <div class="location-box">
                    <div class="location-icon"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location</div>
                    <div class="location-details">Rwanda</div>
                  </div>
                  <div class="location-box">
                    <div class="location-icon"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</div>
                    <div class="location-details">+250 732 393 402</div>
                  </div>
                  <div class="location-box">
                    <div class="location-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i> Write Us</div>
                    <div class="location-details"><a href="../contact" target="_blank">Contact us</a></div>
                  </div>
                </div>
            </div>
            <div class="copyright">
              <p><i class="fa fa-copyright" aria-hidden="true"></i>  2019  RwandAg</p>
            </div>
        </footer>
  </body>
</html>
