{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RwandAg</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/psite.css' %}">
  </head>
  <body>
    <nav>
      <ul>
        <img src="../static/css/logo.png" >
        <li><a href="/">Home</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="#">Important Links</a>
          <ul>
            <li><a href="#">MINAGRI</a></li>
            <li><a href="#">RAB</a></li>
            <li><a href="#">Updates</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </li>
        <li><a href="projects">Projects</a></li>
      </ul>
    </nav>
    <h2>PROJECTS Page</h2>
      <p>Project here is in progress...</p>
  </body>
</html>
