{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RwandAg</title>
    <link rel="shortcut icon" type="image/png" href="../static/css/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/psite.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <ul>
        <a href="/"><img src="../static/css/logo.png" ></a>
        <li><a href="/">Home</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="#">Important Links</a>
          <ul>
            <li><a href="https://www.minagri.gov.rw/index.php?id=16" target="_blank">MINAGRI</a></li>
            <li><a href="http://www.rab.gov.rw/index.php?id=180" target="_blank">RAB</a></li>
            <li><a href="https://twitter.com/RwandaAgri" target="_blank">Updates</a></li>
            <li><a href="https://www.youtube.com/channel/UCB-oYINxgCdmyEnPi-SWAZw/videos" target="_blank">Videos</a></li>
          </ul>
        </li>
        <li><a href="../projects">Projects</a></li>
      </ul>
    </nav>
    <br>
    <div class="project-part">
        <h1>Holstein Friesian cattle</h1>
          <h3>Project Overview</h3>
            <p>Nyamasheke Holstein Friesian cattle project aims at setting up an exemplary farm of 8 Friesian Milk
              Cows with expected milk produce 400 litters daily at the benefit of  6,000  people of  Rusizi and
              Nyamasheke District and Bukavu (Eastern DRCongo region). The operations will be under cooperative
              COOPERATIVE POUR LA PROMOTION DE L’EVAGE ET D’AGRICULTURE DE NYABITEKIRI (CODEANYA KOTANIRUBWIYUNGE)
              located in Nyamasheke District in Western Province of Rwanda.</p>
              <br>
            <p>Since its creation in 2010, CODEANYA KOTANIRUBWIYUNGE Cooperative has got a number of achievements including
            acquisition of  2.5 hectares of land that are used to produce tomatoes with 10 tones of tomatoes of
            produce per season; rearing 2 cows and 2 hogs; installation of Drip Irrigation System comprised  of  2
            pumps; and Solar Powered Irrigation System comprised of 36 Solar Panels.</p>

            <br>
            <p>In fact, an article published in March 2019 by The New Times, one of the biggest newspapers in Rwanda, showed
              <a href="https://www.newtimes.co.rw/news/featured-how-usadf-support-has-transformed-lives" target="_blank">CODEANYA</a> as one of the cooperatives
              that were performing well in terms of managing well the United
              States African Development Foundation (USADF) grant which enable the them to install the drip irrigation
              system mentioned above.</p>

              <br>
            <p>CODEANYA is a registered agricultural cooperative by Rwandan government department in charge of national business and investment operations,
          Rwanda Development Board (RDB). RwandAg confidently believes that CODEANYA achievements and agricultural experience is a
          a positive indicator that it will deliver its promises. So, we hope that the ongoing good
          collaboration will lead to the close of Nyamasheke Holstein Friesian cattle investment deal.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="nyamasheke">
      <p>This map below shows the location of <strong>Nyamasheke District, Western Province, Rwanda</strong></p>
      <img src="../static/css/nyamasheke.jpg" height="250px;" width="350px;" >
      <p>Source: <i>Wikipedia</i></p>
    </div>
    <footer id="footer">
      <div id="body">
          <div class="contact-home" id="our-contact">
            <h2>Our Mission<h2>
              <h4>Connecting Rwandan farmers to agricultural investors for sustainable Rwanda Food Security </h4>
              <div class="location">
                <div class="location-box">
                  <div class="location-icon"><i class="fa fa-map-marker" aria-hidden="true"></i> Our Location</div>
                  <div class="location-details">Rwanda</div>
                </div>
                <div class="location-box">
                  <div class="location-icon"><i class="fa fa-phone" aria-hidden="true"></i> Call Us</div>
                  <div class="location-details">+250 732 393 403</div>
                </div>
                <div class="location-box">
                  <div class="location-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i> Write Us</div>
                  <div class="location-details"><a href="../contact" target="_blank">Contact us</a></div>
                </div>
              </div>
          </div>
          <div class="copyright">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>  2019  RwandAg</p>
          </div>
      </div>
    </footer>
  </body>
</html>
